[submodule "ColorUtilsC"]
	path = ColorUtilsC
	url = https://github.com/DerTyp7214/ColorUtilsC.git
[submodule "RboardComponents"]
	path = RboardComponents
	url = https://github.com/DerTyp7214/ColorUtilsC.git
